:root {
  --primary: #1d2745;
  --secondary: #1de5d4;
  --tertiary: #f52c50;
  --white: #ffffff;
  --mono-100: #f1f1f1;
  --mono-200: #bebebe;
  --mono-300: #d6d7d9;
  --error: #d01e1e;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}